/* font-family: 
 font-family: 'Rooto', sans-serif;

 */

*{
  font-family: 'Mukta', sans-serif;
}

p{
  font-size: small;
}

body{
  margin: 0px;
    width: 100%;
    background-color: #F7F9FE;
}
header,
nav,
aside,
main,
footer, .main-app {
  margin: 0px;
  padding: 16px;
  /* outline just for visibility purposes */
  /* outline: 1px solid #3a314f; */
  border-radius: 2px;
  border-right: 2px #3a314f;
  border-bottom: 5px solid #fff;
  box-shadow: 0 5px 0 #ffbf0e;
  

}

.app{
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;

    align-items: stretch;
    height: 100vh;
    width: 100%;
}

.app > * {
    padding: 10px;
    flex: 1 100%;
}

.aside{
  border: #3a314f;
  outline: #3a314f;
  flex-direction: column;
  align-items: center;

}


ul{
  list-style: none;
}

.photo-wrapper{
  margin-top: 15%;
  margin-bottom: 1%;
  margin-left: 33%;
  align-items: center;
  height: 100px;
  width: 100px;
  position: relative;
  border: 1px solid rgb(150, 150, 255);
  border-radius: 50%;
  background: url(images/codingGirl.jpeg);
  background-size: 100% 100%;
  overflow: hidden;
}
.my-file{
  position: absolute;
  bottom: 0;
  outline: none;
  color: transparent;
  width: 100%;
  box-sizing: border-box;
  padding: 15px 120px;
  cursor: pointer;
  transition: 0s;
}
.my-file::-webkit-file-upload-button{
  size: 100%;
  visibility: hidden;
}

.sidebar{
  padding-top: 3rem;
  padding: 2rem;

}

.sidebar ul{
  margin-top: 20px;
  padding: 2rem;

}

.sidebar ul li{
  margin-top: 20px;
  /* position: fixed; */
  height: 50px;
  width: 100%;

}




.main-app{
  display: grid;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 75%;
    /* margin: 10px; */
  padding: 30px;
  background-color: #ffffff;
  flex-direction: column;
    
    
}

@media all and (min-width: 600px) {
    .aside { flex: 1 0 0; }
}

@media all and (min-width: 800px) {
    .left-col-1 { order: 1; } 
    .left-col-2   { order: 2; }
    .left-col-3 { order: 3; }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    border-radius: 8px;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgb(168, 131, 131);
    width: 60%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: .25rem;

}

input{
    font-size: 1rem;
}

.class-crads{
    display: grid;
    grid-template-columns: repeat();
    gap: .25rem;
    top: 1rem;
    
}

.card{
  z-index: 0;
    color: #F7F9FE;
    border: 1px solid rgb(12, 13, 59);
    background-color: #3a314f;
    top: 1rem;
    border-radius: 5px;
    width: 10rem;
    height:auto;
    
}

#search{
  width: 20rem;
}




.course-card{
  color: #F7F9FE;
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 20px 80px 40px;
  grid-template-areas: "text" "text" "text";

  border-radius: 5px;
  background-color: #3a314f;
  /* padding: 1rem; */
  width: 250px;
  height: 10rem;
  margin: 20px;

}

.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;

}

input{
  width: 8rem;
  border-radius: 5px;
  border-width: 0.3px;
  
}

input[type="search"]{
  width: 8rem;
  border-radius: 5px;
  border-width: 0.3px;
  
}

.school-search-select{
  max-width: 400px;
  border-radius: 5px;
  border-width: 0.3px;
}

.modal-container.show{
  opacity: 1;
  pointer-events: auto;
}

.modals{
  /* margin-top: 2rem; */
  padding: 1rem 2rem;
  background-color: #fcfbff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  width: 70rem;
  max-width: 100%;
  height: 20rem;


}

.button-choice{
  background-color: #3C4381;
  color: #F7F9FE;
  border-radius: 2px;
  border: 0;
  padding: 3px 6px;
  
}

.button-profile{
  background-color: none;
}

.main-element{
  padding: 20px;
  /* margin: 10px; */
}